@use 'sass:math';

:root {
  --container-width: 1000px;
  --container-padding: 10px;
}

.container {
  width: 100vw;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;

  > .column {
    display: flex;
    flex-direction: column;
    padding: var(--container-padding);

    &.noPaddingOuter {
      padding: 0 var(--container-padding);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    @for $i from 1 through 12 {
      &.column-#{$i} {
        flex-basis: 100% * math.div($i, 12);
      }
    }
  }
}
