@for $i from 0 through 5 {
  $h: $i + 1;
  h#{$h} {
    margin-top: #{50px - $i * 10px};
    margin-bottom: #{25px - $i * 5px};
    font-weight: 400;
    font-size: #{1.75rem - $i * 0.25rem};
    line-height: #{2rem - $i * 0.25rem};
  }

  h#{$h}:first-child {
    margin-top: 0;
  }

  h#{$h}:last-child {
    margin-bottom: 0;
  }
}
